

.container{
    width:1086px;
    margin: auto;
}
.clear{
    clear:both;
}
.title{
    color: #5863F8;
    margin-top:30px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.title2{
    margin-top:10px;
    font-size:42px;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    letter-spacing: 1px;
}
.upper-block{
    height:190px;
    margin-top:30px;
}
.bottom-block{
    height:190px;
    margin-top:50px;
}
.left-box{
    float:left;
    width:536px;
    background-color: #F8F8F8;
   
}
.section1-img{
   width:168px;
   height:190px;
   float:left;
   margin-right: 10px;
}
.right-box{
    float:right;
    width:536px;
    background-color: #F8F8F8;
}
.text1{
    color: #5863F8;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 14px;
    float: left;
    padding-top: 36px;}
.text2{
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size: 18px;
    float:left;
    padding: 1px 159px 0 0;
    
}
.text3{
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size:14px;
    width:280px;
    float:left;
    color: #B1B1B1;
    padding: 12px 92px 0 0;
}
/* pseudo eements*/
.section-2{
    margin-top:40px;
}
.container2{
    width:1088px;
    margin:auto;
}
.name{
    color: #5863F8;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    margin-top:65px;
    text-transform: uppercase;
}
.name::after{
    content: 'Read our newest blog post right away';
    font-size:42px;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    display: block;
    color:#000000;
    padding-top:10px;
    letter-spacing: 1px;
}
.up-block{
    height:360px;
    margin-top: 30px;
   
}
.down-block{
    height:360px;
    margin-top: 30px;
    
}
.box1{
    float:left;
    width:352px;
    height:360px;
    background-color: #F8F8F8;
}
.box1::after{
    content:'';
    clear: both;
    display: block;
}
.img{
    width:352px;
    height:212px;
}
.pr1{
    display: block;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size: 18px;
}
.pr1::before{
   content: ' Food and life';
   text-transform: uppercase;
   display: block;
   text-align: center;
   padding-top: 23px;
   padding-bottom: 10px;
   color: #5863F8;
   font-family: 'Poppins';
   font-weight: bold;
   font-style: normal;
   font-display: swap;
   font-size: 14px;
}
.pr1::after{
    content: 'Fresh food directly from our restaurant ready coocked for you and you familly';
    display: block;
    width:260px;
    margin:auto;
    padding-top:10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size:14px;
    color: #B1B1B1;
 }
 
 .box2{
    float:left;
    width:352px;
    height:360px;
    background-color: #F8F8F8;
    margin-left:16px;
}
.box2::before{
    clear: both;
}
.box3{
    float:left;
    width:352px;
    height:360px;
    background-color: #F8F8F8;
    margin-left:16px;
}
.box3::before{
    clear: both;
}
.pr2{
    display: block;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size: 18px;
}
.pr2::before{
    content:'cooking';
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 10px;
    color: #5863F8;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 14px;
}
.pr2::after{
    content: 'Fresh food directly from our restaurant ready coocked for you and you familly';
    display: block;
    width:260px;
    margin:auto;
    padding-top:10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size:14px;
    color: #B1B1B1;
 }
 .pr3{
    display: block;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size: 18px;
 }
 .pr3::before{
    content:'Fruits';
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 10px;
    color: #5863F8;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 14px;
 }
 .pr3::after{
    content: 'Fresh food directly from our restaurant ready coocked for you and you familly';
    display: block;
    width:260px;
    margin:auto;
    padding-top:10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-size:14px;
    color: #B1B1B1;
 }